In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
filename='/content/drive/MyDrive/Coding Dojo/Week 2/PandasForDataManipulation/sales_predictions.csv'
df=pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [3]:
# Check data types and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
f_weight=df['Item_Weight'].isna()

In [5]:
# Relace the missing values under Item Weight with the mean value of each item type category
# Get the mean value for each item type
df.groupby(['Item_Type'])[['Item_Weight']].mean()

                       Item_Weight
Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731

In [6]:
f_baking=df['Item_Type']=='Baking Goods'

In [7]:
f_breads=df['Item_Type']=='Breads'

In [8]:
f_breakfast=df['Item_Type']=='Breakfast'

In [9]:
f_canned=df['Item_Type']=='Canned'

In [10]:
f_dairy=df['Item_Type']=='Dairy'

In [11]:
f_frozen=df['Item_Type']=='Frozen Foods'

In [12]:
f_fruits=df['Item_Type']=='Fruits and Vegetables'

In [13]:
f_drink=df['Item_Type']=='Hard Drinks'

In [14]:
f_health=df['Item_Type']=='Health and Hygiene'

In [15]:
f_household=df['Item_Type']=='Household'

In [16]:
f_meat=df['Item_Type']=='Meat'

In [17]:
f_others=df['Item_Type']=='Others'

In [18]:
f_seafood=df['Item_Type']=='Seafood'

In [19]:
f_snack=df['Item_Type']=='Snack Foods'

In [20]:
f_soft=df['Item_Type']=='Soft Drinks'

In [21]:
f_starchy=df['Item_Type']=='Starchy Foods'

In [22]:
# Fill the missing values with the mean value of each item type
df.loc[f_baking,'Item_Weight']=df.loc[f_baking,'Item_Weight'].fillna(12.28)

In [23]:
df.loc[f_breads,['Item_Weight']] = df.loc[f_breads,['Item_Weight']].fillna(11.35)

In [24]:
df.loc[f_breakfast,['Item_Weight']] = df.loc[f_breakfast,['Item_Weight']].fillna(12.77)

In [25]:
df.loc[f_canned,['Item_Weight']] = df.loc[f_canned,['Item_Weight']].fillna(12.31)

In [26]:
df.loc[f_dairy,['Item_Weight']] = df.loc[f_dairy,['Item_Weight']].fillna(13.43)

In [27]:
df.loc[f_frozen,['Item_Weight']] = df.loc[f_frozen,['Item_Weight']].fillna(12.28)

In [28]:
df.loc[f_fruits,['Item_Weight']] = df.loc[f_fruits,['Item_Weight']].fillna(13.22)

In [29]:
df.loc[f_drink,['Item_Weight']] = df.loc[f_drink,['Item_Weight']].fillna(11.40)

In [30]:
df.loc[f_health,['Item_Weight']] = df.loc[f_health,['Item_Weight']].fillna(13.14)

In [31]:
df.loc[f_household,['Item_Weight']] = df.loc[f_household,['Item_Weight']].fillna(13.38)

In [32]:
df.loc[f_meat,['Item_Weight']] = df.loc[f_meat,['Item_Weight']].fillna(12.82)

In [33]:
df.loc[f_others,['Item_Weight']] = df.loc[f_others,['Item_Weight']].fillna(13.85)

In [34]:
df.loc[f_seafood,['Item_Weight']] = df.loc[f_seafood,['Item_Weight']].fillna(12.55)

In [35]:
df.loc[f_snack,['Item_Weight']] = df.loc[f_snack,['Item_Weight']].fillna(12.99)

In [36]:
df.loc[f_soft,['Item_Weight']] = df.loc[f_soft,['Item_Weight']].fillna(12.2771087)

In [37]:
df.loc[f_starchy,['Item_Weight']] = df.loc[f_starchy,['Item_Weight']].fillna(13.69)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [39]:
# Deal with the missing values in Outlet Size
# The missing values all occur in Grocery Store and Supermarket Type 1
outlet_size_n=df['Outlet_Size'].isna()
df[outlet_size_n]['Outlet_Type'].value_counts()

Supermarket Type1    1855
Grocery Store         555
Name: Outlet_Type, dtype: int64

In [40]:
# Check what the outlet size is for Grocery Store
df[df['Outlet_Type']=='Grocery Store']['Outlet_Size'].value_counts()

Small    528
Name: Outlet_Size, dtype: int64

In [41]:
# For Grocery Store, the outlet size is small hence replace the missing values with 'Small'
df.loc[df['Outlet_Type']=='Grocery Store',['Outlet_Size']]=df.loc[df['Outlet_Type']=='Grocery Store',['Outlet_Size']].fillna('Small')

In [42]:
df[df['Outlet_Type']=='Supermarket Type1']['Outlet_Size'].value_counts()

Small     1860
High       932
Medium     930
Name: Outlet_Size, dtype: int64

In [43]:
# Outlet size can be various for Supermarket type 1 
# Check outlet location type for the missing values to see if there is any relationship
size_filter=df['Outlet_Size'].isna()
type1_filter=df['Outlet_Type']=='Supermarket Type1'
df[size_filter & type1_filter]['Outlet_Location_Type'].value_counts()

Tier 2    1855
Name: Outlet_Location_Type, dtype: int64

In [44]:
# The outlet location type is Tier 2 for all the missing values for supermarket type 1
df[df['Outlet_Location_Type']=='Tier 2']['Outlet_Size'].value_counts()

Small    930
Name: Outlet_Size, dtype: int64

In [45]:
# The outlet size is small for all the Tier 2 hence replace the missing value
df.loc[df['Outlet_Type']=='Supermarket Type1',['Outlet_Size']]=df.loc[df['Outlet_Type']=='Supermarket Type1',['Outlet_Size']].fillna('Small')

In [46]:
# All missing values have been imputed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [47]:
# Adding profit column
df['Profit']=df['Item_Outlet_Sales']-df['Item_MRP']

In [48]:
df.head()

  Item_Identifier  Item_Weight  ... Item_Outlet_Sales     Profit
0           FDA15         9.30  ...         3735.1380  3485.3288
1           DRC01         5.92  ...          443.4228   395.1536
2           FDN15        17.50  ...         2097.2700  1955.6520
3           FDX07        19.20  ...          732.3800   550.2850
4           NCD19         8.93  ...          994.7052   940.8438

[5 rows x 13 columns]

In [49]:
df.groupby(['Item_Type','Item_Fat_Content'])[['Profit']].mean()

                                     Profit
Item_Type     Item_Fat_Content
Baking Goods  LF                1555.150380
              Low Fat           1660.584884
              Regular           2058.970263
              low fat           1241.450225
              reg                978.080446
...                                     ...
Starchy Foods LF                2309.516622
              Low Fat           2424.404778
              Regular           2008.042454
              low fat           1494.555200
              reg               2029.909914

[70 rows x 1 columns]

In [50]:
# Replace reg with Regular, LF and low fat with Low Fat to make it more consistent
df['Item_Fat_Content'].replace(['low fat','LF'],'Low Fat',inplace=True)

In [51]:
df['Item_Fat_Content'].replace('reg','Regular',inplace=True)

In [52]:
df.groupby(['Item_Type','Item_Fat_Content'])[['Profit']].mean().sort_values(by=['Profit'],ascending=False)

                                             Profit
Item_Type             Item_Fat_Content
Seafood               Regular           2718.594444
Starchy Foods         Low Fat           2400.455473
Breakfast             Low Fat           2260.152293
Snack Foods           Low Fat           2255.480671
Fruits and Vegetables Regular           2247.594191
Dairy                 Regular           2220.186666
Household             Low Fat           2109.359547
Canned                Regular           2103.443415
Meat                  Regular           2095.414376
Breads                Regular           2081.250544
Canned                Low Fat           2069.161859
Breads                Low Fat           2048.851847
Fruits and Vegetables Low Fat           2045.847671
Baking Goods          Regular           2014.921462
Frozen Foods          Regular           2011.930333
Starchy Foods         Regular           2010.361730
Hard Drinks           Low Fat           2002.143694
Dairy                 Low Fat           1998.058162
Frozen Foods          Low Fat           1978.515982
Snack Foods           Regular           1961.731383
Meat                  Low Fat           1904.618132
Soft Drinks           Low Fat           1902.114043
Health and Hygiene    Low Fat           1879.181344
Breakfast             Regular           1797.623348
Seafood               Low Fat           1794.278362
Others                Low Fat           1793.288272
Soft Drinks           Regular           1732.294437
Baking Goods          Low Fat           1643.983767

In [53]:
df.groupby(['Outlet_Type','Outlet_Location_Type'])[['Profit']].mean().sort_values(by=['Profit'],ascending=False)

                                             Profit
Outlet_Type       Outlet_Location_Type
Supermarket Type3 Tier 3                3554.236767
Supermarket Type1 Tier 2                2182.823363
                  Tier 1                2171.921908
                  Tier 3                2157.569273
Supermarket Type2 Tier 3                1853.820105
Grocery Store     Tier 1                 200.542635
                  Tier 3                 198.574068